html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.ControlBtnImage {
  display: flex;
  justify-content: space-around;
}

.ControlBtnImage button {
  border-radius: 16px;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.3s;
  margin: 1rem;
}

.ControlBtnImage button:hover {
  border-color: red;
}

.Image-photo img {
  height: 500px;
  border-radius: 8px;
}

.Image-title {
  color: black;
  text-align: center;
}


